@model QLBH_LeVanHoa_65131052.Models.KhachHang

<form method="post" enctype="multipart/form-data">
    <input asp-for="MaKh" hidden />
    <input type="hidden" name="existingAnh" value="@Model.AnhKh" />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Cập nhật Khách Hàng</h2>
            <hr />
        </div>

        <div class="row">
            <div class="col-8">
                <div class="mb-3">
                    <label asp-for="TenKh"></label>
                    <input asp-for="TenKh" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="DienThoaiKh"></label>
                    <input asp-for="DienThoaiKh" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="EmailKh"></label>
                    <input asp-for="EmailKh" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="DiaChiKh"></label>
                    <input asp-for="DiaChiKh" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="MaXa">Phường/Xã</label>
                    <select asp-for="MaXa" asp-items="@ViewBag.Xas" class="form-select"></select>
                </div>
                <div class="mb-3">
                    <label>Chọn ảnh mới (nếu muốn thay đổi)</label>
                    <input type="file" name="image" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label>Ảnh hiện tại:</label><br />
                @if (!string.IsNullOrEmpty(Model.AnhKh))
                {
                    <img src="~/images/khachhang/@Model.AnhKh" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2" style="width:150px">Cập nhật</button>
        <a asp-action="Index" class="btn btn-secondary mt-2" style="width:150px">Quay lại</a>
    </div>
</form>